<div class="item_footer">
    <a href="./AboutUs.html" class="dec_none bold border_b1s gold">
        Learn more about us
    </a>
</div>
<div class="item_footer">
    <p>Website created by Antonin Lampin & Simon Martinenq</p>
    <p class="bold"> © LOL INFORMATIONS 2021 ALL RIGHTS RESERVED </p>
</div>