<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/aboutus.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>League of Legends - About us Page</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <main>
                <section id="s_creator">
                    <h1 class="bold title gold_2">TEAMWORK</h1>
                    <ul>
                        <li id="li_antonin">
                            <div>
                                <h1>Antonin Lampin</h1>
                                <p>French student in EFREI. I have done the front part principaly.</p>
                            </div>
                            <div>
                                <img src="../static/Images/creator/anto.png" alt="Picture of Antonin Lampin">
                            </div>
                        </li>
                        <li id="li_simon">
                            <div>
                                <img src="../static/Images/creator/simon.png" alt="Picture of Simon Martinenq">
                            </div>
                            <div>
                                <h1>Simon Martinenq</h1>
                                <p>French student in EFREI. I have done the back part principaly.</p>
                            </div>
                        </li>
                    </ul>
                </section>

            </main>

        </main>
        <%- include('footer') %>
</body>

</html>