<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/aboutus.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>League of Legends - About us Page</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section id="s_creator">
                <h1 class="bold title gold_2">TEAMWORK</h1>
                <ul>
                    <li id="li_antonin">
                        <div>
                            <h1>Antonin Lampin</h1>
                            <p>French student in EFREI. I have done the front part principaly.</p>
                            <p>
                                <a href="https://www.linkedin.com/in/antonin-lampin-346a2a1a4/">
                                    <img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG24.png"
                                        alt="logo_Linkedin" class="imgLinkedin">
                                    LINKEDIN
                                </a>

                            </p>
                        </div>
                        <div>
                            <img src="../static/Images/creator/anto.png" alt="Picture of Antonin Lampin">
                        </div>
                    </li>
                    <li id="li_simon">
                        <div>
                            <img src="../static/Images/creator/simon.png" alt="Picture of Simon Martinenq">
                        </div>
                        <div>
                            <h1>Simon Martinenq</h1>
                            <p>French student in EFREI. I have done the back part principaly.</p>
                            <p>
                                <a href="https://www.linkedin.com/in/simon-martinenq-5747231b5/">
                                    <img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG24.png"
                                        alt="logo_Linkedin" class="imgLinkedin">
                                    LINKEDIN
                                </a>

                            </p>
                        </div>
                    </li>
                </ul>
            </section>

        </main>
        <%- include('footer') %>
</body>

</html>