<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/champions.css">
    <title>Champions</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <div id="barre_nav_champion">
                <ul>
                    <li>
                        <a href='/champions/list'>All</a>
                    </li>
                    <li>
                        <a href='/champions/Fighter'>Fighter</a>
                    </li>
                    <li>
                        <a href='/champions/Mage'>Mage</a>
                    </li>
                    <li>
                        <a href='/champions/Assassin'>Assassin</a>
                    </li>
                    <li>
                        <a href='/champions/Tank'>Tank</a>
                    </li>
                    <li>
                        <a href='/champions/Marksman'>Marksman</a>
                    </li>
                    <li>
                        <a href='/champions/Support'>Support</a>
                    </li>
                </ul>
            </div>
            <div id="personnage">
                <!-- recieve champions { id= .. name=...} -->
                <% for (var c of champions) { %>
                    <button><a href="/champions/show/<%= c.id_champion %> "><img src="<%= c.icon %>"
                                alt="icon champion"></a></button>

                    <% } %>
            </div>


        </main>
        <%- include('footer') %>

</body>

</html>