<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/champions.css">
    <title>Champions</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <div id="barre_nav_champion">
                <ul>
                    <li>
                        <button id="tout">Tout</button>
                    </li>
                    <li>
                        <button id="assassins">Assassins</button>
                    </li>
                    <li>
                        <button id="combattants">Combattants</button>
                    </li>
                    <li>
                        <button id="mages">Mages</button>
                    </li>
                    <li>
                        <button id="tireurs">Tireurs</button>
                    </li>
                    <li>
                        <button id="supports">Supports</button>
                    </li>
                    <li>
                        <button id="tanks">Tanks</button>
                    </li>
                </ul>
            </div>
            <div id="personnage">
                <% for (var c of champions) { %>
                    <div><img src="<%= c.icon %>" alt="icon champion"></div>

                    <% } %>
            </div>
            <div id="champion"></div>
        </main>
        <%- include('footer') %>

</body>

</html>