<header class="header_container">
    <nav class="displayFlex nav_header">
        <a href="/home">
            <img src="/static/Images/icons/League_of_Legends_Logo.png" alt="League_of_Legends_Logo" class="img_logo">
        </a>
        <ul class="nav_list">
            <li>
                <a href="/home" class="navbar_header">Home</a>
            </li>
            <li>
                <a href="/team" class="navbar_header">Teams</a>
            </li>
            <li>
                <a href="/champions" class="navbar_header">Champions</a>
            </li>
            <li>
                <a href="/store" class="navbar_header">Store</a>
            </li>
            <li>
                <a href="/aboutUs" class="navbar_header">About us</a>
            </li>
        </ul>
    </nav>
</header>