<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap"
        rel="stylesheet">
    <title>League of Legends - Home Page</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section id="home_main_picture">
                <img src="https://preview.redd.it/in73r6sbixz31.png?width=4096&format=png&auto=webp&s=810fa4aef8f17b2ccf3ca4c18601eb731904d37e"
                    alt="Main_picture_bg" id="img_home_s1">
            </section>
            <section class="bg_blue1 white">
                <div class="title1 wrapped bold">
                    What you can find
                </div>
                <article class="displayFlex article_bubble padding_section">
                    <div class="bubble_info">
                        <h1>Events</h1>
                        <p class="justify padding">The 2021 World Championship was originally slated to be held in
                            China, following the
                            minimal-production setup of the 2020 event due to the COVID-19 pandemic. It was to have a
                            full production setup in live venues. However, on August 24th, 2021, Riot announced that due
                            to travel restrictions and COVID protocols, the event would be moved to Europe.[1] The final
                            location of the event was eventually announced to be Reykjavik, Iceland, with all phases
                            taking place at the Laugardalshöll indoor sporting arena.</p>
                    </div>
                    <div class="bubble_info">
                        <h1>Path </h1>
                        <p class="justify padding"> <span>BOOM, baby! Preseason 2022 is here, and it's BIG!</span><br>

                            Patch 11.23 brings sweeping changes to the Rift (literally and figuratively) with the new
                            Chemtech & Hextech Drakes, 6 new items, 24 item updates, 3 changes to runes, and Objective
                            Bounties! Ultimate Spellbook is also back with dozens of new Ult-ernates and a special treat
                            for junglers. <br>
                            Speaking of innovation, TFT's first balance patch of Gizmos & Gadgets is here. Read all
                            about the change at the TFT patch notes here! </p>
                    </div>
                    <div class="bubble_info">
                        <h1>New caracter</h1>
                        <p class="justify padding">Last year, Riot Games announced that they will release <span>5 new
                                champions each new
                                season</span>. And
                            in the Season 2021 cinematic, they again assured that there will also be 5 new champions in
                            2021 as well.</p>
                    </div>
                </article>
            </section>
            <section class="bg_blue2 white">
                <div class="title2 wrapped bold">
                    game characters
                </div>
                <section class="displayFlex align_item padding_section">
                    <div id="text_GC">
                        <p id="text_imp_s2H" class="text_imp">
                            <strong>A huge number</strong> of characters available now, so join us and become part of
                            the
                            Legends!
                        </p>
                        <div id="div_playnow">
                            <a href="https://signup.euw.leagueoflegends.com/fr/signup/index" id="button_play"
                                class="dec_none">
                                PLAY NOW
                            </a>
                        </div>
                    </div>
                    <div class="text_align_center">
                        <img src="https://archive.esportsobserver.com/wp-content/uploads/2018/03/maxresdefault.jpg"
                            alt="game_caract" id="img_game_caract">
                    </div>
                </section>
            </section>
            <section class="bg_blue3 white">
                <div class="title3 wrapped bold">
                    Teams
                </div>
                <section class="text_align_center padding_section">
                    <div>
                        <p class="text_imp">In this video game, you don't play alone but in teams of <span>five
                                players </span>. <br> Within the team, everyone plays a role in order to achieve
                            victory.
                            There are healers, attackers, ranged characters and many others. <br> <span> So discover all
                                competitive team.</span> </p>
                    </div>
                    <article>
                        <img src="https://am-a.akamaihd.net/image?resize=120:&f=http%3A%2F%2Fstatic.lolesports.com%2Fleagues%2F1592594612171_WorldsDarkBG.png"
                            alt="logomondial">
                        <img src="https://am-a.akamaihd.net/image?resize=120:&f=http%3A%2F%2Fstatic.lolesports.com%2Fleagues%2F1592516184297_LEC-01-FullonDark.png"
                            alt="logoLEC">
                        <img src="https://am-a.akamaihd.net/image?resize=120:&f=http%3A%2F%2Fstatic.lolesports.com%2Fleagues%2Flcs-gold.png"
                            alt="logoLCS">
                        <img src="https://am-a.akamaihd.net/image?resize=120:&f=http%3A%2F%2Fstatic.lolesports.com%2Fleagues%2Flck-color-on-black.png"
                            alt="logoLCK">
                        <img src="https://am-a.akamaihd.net/image?resize=120:&f=http%3A%2F%2Fstatic.lolesports.com%2Fleagues%2F1592516115322_LPL-01-FullonDark.png"
                            alt="logoLPL">
                    </article>
                    <!-- <iframe width="75%" height="500" src="https://www.youtube.com/embed/KbNL9ZyB49c">
                </iframe> -->
                </section>

            </section>
        </main>

        <%- include('footer') %>
            <!-- Le trait d'union est pour dire à EJS de rendre le HTML brut. -->

</body>

</html>