<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>League of Legends - Team Page</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section>
                <h1 class="center gold_2" id="title_register">Register your team </h1>
                <p id="text_register">You too have a team, you like to play together and you think you have a chance to
                    compete with other
                    teams so don't wait, register your team now!</p>
            </section>
            <section id="form_register_team">
                <form>
                    <div>
                        <label for="InputEmail">Email address</label>
                        <input type="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div>
                        <label for="InputPassword">Password</label>
                        <input type="password" id="InputPassword" placeholder="Password">
                    </div>
                    <div>
                        <input type="checkbox" id="Check1">
                        <label for="Check1">Check me out</label>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </section>
        </main>
        <%- include('footer') %>
</body>

</html>