<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>League of Legends - Team Page</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section>
                <h1 class="center gold_2" id="title_register">Register your team </h1>
                <p id="text_register">You too have a team, you like to play together and you think you have a chance to
                    compete with other
                    teams so don't wait, register your team now!</p>
            </section>
            <section id="form_register_team">
                <form>
                    <div>
                        <label for="InputEmail">Name of The Team</label>
                        <input type="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter name">
                    </div>
                    <div class="laner">
                        <div>
                            <label for="topLane">Top Laner</label>
                            <input type="text" id="topLane">
                        </div>
                        <div>
                            <label for="MidLane">Mid Laner</label>
                            <input type="text" id="MidLane">
                        </div>
                        <div>
                            <label for="BotLaneADC">Attack Damage Carry, (bot lane)</label>
                            <input type="text" id="BotLaneADC">
                        </div>
                        <div>
                            <label for="BotLaneSupport">Support, (bot lane)</label>
                            <input type="text" id="BotLaneSupport">
                        </div>
                        <div>
                            <label for="JungleLane">Jungle Laner</label>
                            <input type="text" id="JungleLane">
                        </div>
                    </div>
                    <div>
                        <label for="continent">What continent are you from?</label>
                        <select name="continent" id="contient">
                            <option value="Europe">Europe</option>
                            <option value="China">China</option>
                            <option value="North America">North America</option>
                            <option value="Korean">Korean</option>
                        </select>
                    </div>
                    <button type="submit" id="submitButton">Submit</button>
                </form>
            </section>
        </main>
        <%- include('footer') %>
</body>

</html>