#storeFig{
    margin: 1em;
    padding: 2em 10em;
}
section{
    margin: 0 1em;
}

form{
    box-shadow: 8px 8px 5px rgba(128, 128, 128);
    border-radius: 3px;
    margin: auto;
    padding: 10px;
    background-color: rgb(179, 176, 176);
    max-width: 1000px;
    text-align: center;
    
}

.fields{
    margin-bottom: 7px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form input{
    margin: 4px;
    padding: 5px;
    flex: auto;
    border: none;
    border-radius: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select{
    flex: auto;
    margin: 4px;
    padding: 5px;
}
/* 
input[type=submit]{
    padding: 5px 15px;
    background-color: white;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 2px grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=submit]:hover{
    background-color: rgb(223, 223, 223);
}

//Barre Rouge
input[type=text]:invalid, input[type=password]:invalid{
    border-bottom: 2px solid rgb(201, 58, 58);
    caret-color: rgb(201, 58, 58);
}

input[type=text]:valid, input[type=password]:valid{
    border-bottom: 2px solid rgb(58, 201, 89);
    caret-color: rgb(58, 201, 89);
} */

/* Figurine  */

.figurineImage{
    width: 350px;
}
.figPrice{
    border-top: 0.5px solid grey;
    font-size: 1.4em;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}
aside {
    flex-wrap: wrap;
    justify-content: space-between;
}
.button_{
    border: 2px solid rgb(100, 90, 30);
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px 15px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(156, 134, 11);
}
.button_:hover{
    background-color: rgb(196, 196, 196);
}
#h1_sap{
    border-top: 1px solid grey;
    font-size: 1.5em;
    text-decoration: underline;
    padding: 2em;
}
.buttonBack{
    margin-top: 5%;
    margin-left: 5%;
}
.back{
    text-decoration: none;
    text-transform: uppercase;
}
.champ{
    width: 50%;
}
#sendButton{
    text-align: center;
}